@use "./basics.scss";

header {
    position: sticky;
    top: 0px;
    color: basics.$primary-color  ;
    .ppal-navbar {
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 10px;
        padding-inline: 30px;
        .main-menu {
            display: flex;
            gap: 15px;
            align-items: center;
            margin: 0;
            padding: 0;
            .main-menu-img{
                object-fit: cover;
                width: 50px;
                height: 50px;  
                img{
                    width: 50px;
                    height: 50px;
                }
            }
        }
        .search-bar {
            .search-input {
                width: 500px;
                border-radius: 50px;
            }
            .search-button {
                border-radius: 50px;
            }
        }
    }
}
