@use "./basics.scss";

header {
    position: sticky;
    top: 0px;
    color: basics.$primary-color  ;
    .ppal-navbar {
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 10px;
        padding-inline: 30px;
        .main-menu {
            display: flex;
            gap: 15px;
            align-items: center;
            margin: 0;
            padding: 0;
            .main-menu-img{
                object-fit: cover;
                width: 50px;
                height: 50px;  
                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    &:hover {
                        box-shadow: 0 2px 24px -2px rgba(0, 0, 0, 0.4);
                    }
                }
            }
            .main-menu-text:hover {
                color: rgba(255, 255, 255, 0.6);
                transition: all .3s;
            }
        }
        .search-bar {
            .search-input {
                width: 200px;
                border-radius: 50px;
                box-shadow: 0 2px 24px -2px rgba(0, 0, 0, 0.34);
                &::placeholder{
                    color: black;
                }
                &:hover {
                    background-color: rgba(255, 255, 255, 0.65);
                    transition: all .3s;
                }
            }
            .search-button {
                border-radius: 50px;
                background-color: rgba(255, 255, 255, 0.5);
                box-shadow: 0 2px 24px -2px rgba(0, 0, 0, 0.34);
                color: black;
                border: 1px solid black;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.65);
                    transition: all .3s;
                }
            }
        }
    }
}
