.profile-container{
    width: 80%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    #btnEdit{
        width: 10%;
        font-size: 12px;
        border: 1px solid white;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 5px;
        box-shadow: 0 2px 24px -2px rgba(0, 0, 0, 0.34);
        &:hover{
            background-color: rgba(0, 0, 0, 0.4);
            transition: all .3s;
        }
    }
    .img-username-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        .profile-img{
            width: 5%;
            height: auto;
            margin: 10px;
        }
        .profile-userName{
            display: flex;
            align-items: center;
            gap: 10px;
            h3{
                font-size: 1.5em;

            }
            #userName{
                height: 25px;
            }
        }
    }
    .name-container{
        display: flex;
        flex-direction: column;
        margin-block: 20px;
        h4{
            justify-content: center;
        }
        .info-group{
            display: flex;
            gap:38px
        }
    }
    .description-container{
        margin: 10px;
        
        #description{
            width: 100%;
            height: 100px;
        }
    }
    .submit-container{
        display: flex;
        justify-content: space-between;
        #submit-update{
            width: 30%;
        }
        #button-go-profile{
            width: 30%
        }
    }
}