@use "bootstrap";////ERROR CUANDO ENTRA AL  NAVEGADOR ...........
@use "./basics.scss";
@use "./header.scss";
@use "./login.scss";
@use "./singup.scss";
@use "./postCard.scss";
@use "./updateProfile.scss";
@use "./profileUser.scss";
li {
    list-style: none;
}
a {
    cursor: pointer;
    color: black;
    text-decoration: none;
}
body{
  font-family: "Radio Canada Big", sans-serif;
  color: basics.$primary-color;
  background:linear-gradient(to bottom right, #ff0000, #0000ff);
  input {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid;
  }
  textarea{
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid;
  }
  button{
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
  }
  select{
    border: none;
    outline: none;
    height: auto;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
  }
  svg{
    width: 7%;
    height: auto;
    color: basics.$secondary-color;
  }
}


footer {
    .footer {
        margin-inline: auto;
        max-width: 1600px;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .footer-index {
            display: flex;
            gap: 15px;
            align-items: center;
            margin: 0;
            padding: 0;
        }
        .footer-logo{
            object-fit: cover;
            width: 50px;
            height: 50px;  
            img{
                width: 50px;
                height: 50px;
            }
        }
    }
}

// carta de clientes cuando buscar por el buscador

.card-client {
  background: #555;
  width: 18rem;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border: 4px solid #fff;
  box-shadow: 0 6px 10px #212121;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
  display: inline-block;
  margin-right: 5px; /* Agregar margen a la derecha de cada tarjeta */

}

.card-client:hover {
  transform: translateY(-10px);
}

.user-picture {
  overflow: hidden;
  object-fit: cover;
  width: 5rem;
  height: 5rem;
  border: 4px solid #fff;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.user-picture svg {
  width: 2.5rem;
  fill: currentColor;
}

.name-client {
  margin: 0;
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
  
}

.name-client span {
  display: block;
  font-weight: 200;
  font-size: 16px;
  word-wrap: break-word; /* Dividir el texto para ajustarlo al ancho */
}

.social-media:before {
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  margin: 20px 0;
  background: #fff;
}

.social-media a {
  position: relative;
  margin-right: 15px;
  text-decoration: none;
  color: inherit;
}

.social-media a:last-child {
  margin-right: 0;
}

.social-media a svg {
  width: 1.1rem;
  fill: currentColor;
}

/*-- Tooltip Social Media --*/
.tooltip-social {
  background: #262626;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 0.5rem 0.4rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -90%);
  transition: all 0.2s ease;
  z-index: 1;
}

.tooltip-social:after {
  content: " ";
  position: absolute;
  bottom: 1px;
  left: 50%;
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  transform: translate(-50%, 100%);
}

.social-media a .tooltip-social:after {
  border-top-color: #262626;
}

.social-media a:hover .tooltip-social {
  opacity: 1;
  transform: translate(-50%, -130%);
}