@use "bootstrap";////ERROR CUANDO ENTRA AL  NAVEGADOR ...........
@use "./basics.scss";
@use "./login.scss";
@use "./singup.scss";
@use "./updateProfile.scss";
@use "./profileUser.scss";
li {
    list-style: none;
}
a {
    cursor: pointer;
    color: black;
    text-decoration: none;
}
body{
  font-family: "Radio Canada Big", sans-serif;
  color: basics.$primary-color;
  input {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid;
  }
  textarea{
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid;
  }
  button{
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
  }
}
header {
    position: sticky;
    top: 0px;
    .ppal-navbar {
        background-color: basics.$secondary-color;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 10px;
        padding-inline: 30px;
        .main-menu {
            display: flex;
            gap: 15px;
            align-items: center;
            margin: 0;
            padding: 0;
            .main-menu-img{
                object-fit: cover;
                width: 50px;
                height: 50px;  
                img{
                    width: 50px;
                    height: 50px;
                }
            }
        }
        .search-bar {
            .search-input {
                width: 500px;
                border-radius: 50px;
            }
            .search-button {
                border-radius: 50px;
            }
        }
    }
}



footer {
    background-color:purple;
    .footer {
        margin-inline: auto;
        max-width: 1600px;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: purple;
        .footer-index {
            display: flex;
            gap: 15px;
            align-items: center;
            margin: 0;
            padding: 0;
        }
        .footer-logo{
            object-fit: cover;
            width: 50px;
            height: 50px;  
            img{
                width: 50px;
                height: 50px;
            }
        }
    }
}

    