@use "bootstrap";////ERROR CUANDO ENTRA AL  NAVEGADOR ...........
@use "./styles/basics.scss";
li {
    list-style: none;
}
a {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

header {
    position: sticky;
    top: 0px;
    .ppal-navbar {
        background-color: basics.$secondary-color;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 10px;
        padding-inline: 30px;
        .main-menu {
            display: flex;
            gap: 15px;
            align-items: center;
            margin: 0;
            padding: 0;
            .main-menu-img{
                object-fit: cover;
                width: 50px;
                height: 50px;  
                img{
                    width: 50px;
                    height: 50px;
                }
            }
        }
        .search-bar {
            .search-input {
                width: 500px;
                border-radius: 50px;
            }
            .search-button {
                border-radius: 50px;
            }
        }
    }
}

.ppal-info {
    max-width: 1400px;
    height: 1800px;
    background-color: basics.$primary-color;
    margin-inline: auto;
}

footer {
    background-color: basics.$secondary-color;
    .footer {
        margin-inline: auto;
        max-width: 1600px;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 10px;
        padding-inline: 30px;
        background-color: basics.$secondary-color;
        .footer-index {
            display: flex;
            gap: 15px;
            align-items: center;
            margin: 0;
            padding: 0;
        }
        .footer-logo{
            object-fit: cover;
            width: 50px;
            height: 50px;  
            img{
                width: 50px;
                height: 50px;
            }
        }
    }
}